@font-face {
  font-family: "Akzidenz-Grotesk";
  src: url("../fonts/Akzidenz-Grotesk_BQ/AkzidenzGrotesk-Regular.otf");
}

@font-face {
  font-family: "Cira";
  src: url("../fonts/Cira.Serif/Cira.Serif/CiraSerif-Black.ttf");
}