[data-index="1"] {
  background-image: url('../images/v1/PLIE_VERTI.jpg');
  //background-image: url('../images/1.jpg');
}
[data-index="2"] {
  background-image: url('../images/v1/SCOTTCH.jpg');
  //background-image: url('../images/2.jpg');
}
[data-index="3"] {
  background-image: url('../images/v1/RETOURNER.jpg');
  //background-image: url('../images/3.jpg');
}
[data-index="4"] {
  background-image: url('../images/v1/ENLEVER_CART.jpg');
  //background-image: url('../images/4.jpg');
}
[data-index="5"] {
  background-image: url('../images/v1/PLIER_HORI.jpg');
  //background-image: url('../images/5.jpg');
}
[data-index="6"] {
  background-image: url('../images/v1/BLOQUER_PAP.jpg');
  //background-image: url('../images/6.jpg');
}
[data-index="7"] {
  background-image: url('../images/v1/TIRER_PAP.jpg');
  //background-image: url('../images/7.jpg');
}
[data-index="8"] {
  background-image: url('../images/v1/CHARIOT_APPUER.jpg');
  //background-image: url('../images/8.jpg');
}
[data-index="9"] {
  background-image: url('../images/v1/CHARIOT_BOUGER.jpg');
  //background-image: url('../images/9.jpg');
}
[data-index="10"] {
  background-image: url('../images/v1/POWER.jpg');
  //background-image: url('../images/10.jpg');
}
[data-index="11"] {
  background-image: url('../images/v1/INJECT_MAGENTA.jpg');
  //background-image: url('../images/11.jpg');
}
[data-index="12"] {
  background-image: url('../images/v1/CRAFT.jpg');
  //background-image: url('../images/12.jpg');
}
[data-index="13"] {
  background-image: url('../images/v1/ENCRE.jpg');
  //background-image: url('../images/13.jpg');
}
[data-index="14"] {
  background-image: url('../images/v1/A1.jpg');
  //background-image: url('../images/14.jpg');
}
[data-index="15"] {
  background-image: url('../images/v1/INJECT_JAUNE.jpg');
  //background-image: url('../images/15.jpg');
}
[data-index="16"] {
  //background-image: url('../images/16.jpg');
}