.image-scenario-1 {
  background-image: url('../images/1.jpg');
}
.image-scenario-2 {
  background-image: url('../images/2.jpg');
}
.image-scenario-3 {
  background-image: url('../images/3.jpg');
}
.image-scenario-4 {
  background-image: url('../images/4.jpg');
}
.image-scenario-5 {
  background-image: url('../images/5.jpg');
}
.image-scenario-6 {
  background-image: url('../images/6.jpg');
}
.image-scenario-7 {
  background-image: url('../images/7.jpg');
}
.image-scenario-8 {
  background-image: url('../images/8.jpg');
}
.image-scenario-9 {
  background-image: url('../images/9.jpg');
}
.image-scenario-10 {
  background-image: url('../images/10.jpg');
}
.image-scenario-11 {
  background-image: url('../images/11.jpg');
}
.image-scenario-12 {
  background-image: url('../images/12.jpg');
}
.image-scenario-13 {
  background-image: url('../images/13.jpg');
}
.image-scenario-14 {
  background-image: url('../images/14.jpg');
}
.image-scenario-15 {
  background-image: url('../images/15.jpg');
}
.image-scenario-16 {
  background-image: url('../images/16.jpg');
}