@import "params";
@import "fonts-style";

@page {
  size: $document-width $document-height;
  margin: 0;
}

@mixin init-display-size {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @include init-display-size;
  font-size: 10pt;
  line-height: 11.3pt;
  -webkit-font-smoothing: auto !important;
  font-family: "Akzidenz-Grotesk", sans-serif;
}

[class*="page"] {
  @include init-display-size;
  height: calc( 21cm - 2px);
  page-break-after: always;
  width: $document-width;
  padding: $document-padding;
  counter-increment: page-counter 1;
  overflow: hidden;

  &:after {
    content: counter(page-counter);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    font-size: 8pt;
    padding-right: $document-padding-right;
    padding-bottom: $document-padding-bottom / 2;
    line-height: 0;
    box-sizing: border-box;
  }

  background-size: 90% auto;
  background-position: 50% 11pt;
  background-repeat: no-repeat;

  &:nth-child(1n + 1):not(.no-repere) {
    background-image: url("../images/trait_de_coupe.jpg");
  }
  &:nth-child(2n):not(.no-repere) {
    background-image: url("../images/trait_de_coupe_GAUCHE.jpg");
  }
}

h1 {
  @include font-title;
}

h2 {
  @include font-subtitle;
}

h2.variante {
  font-family: "Cira", sans-serif;
}

h4 {
  font-family: "Akzidenz-Grotesk-medium", sans-serif;
}

p {
  font-family: "Founders Grotesk", sans-serif;
  font-weight: 400;
  margin: 0;
  .line {
    display: block;
  }
}

ol {
  font-family: "Cira";
}

.right-list {
  text-align: right;
  line-height: 2.5em;
  font-size: 16pt;
  list-style: none;
  counter-reset: list 0;

  li {
    padding-right: 13mm;
    position: relative;
    counter-increment: list 1;
    display: inline-block;
    &:after {
      content: counter(list);
      border: solid 0.35pt black;
      border-radius: 100%;
      position: absolute;
      display: inline-block;
      font-size: 10pt;
      height: 1.4em;
      line-height: 1.5em;
      width: 1.8em;
      text-align: center;
      right: 0;
      box-sizing: border-box;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

.image-block {
  position: absolute;
  overflow: hidden;
  img {
    position: absolute;
  }
}

[class*="image-scenario"] {
  margin-bottom: 20pt;
  height: calc(50% - 20pt);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.image-description {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 20pt;
  transform: translate3d(0, 100%, 0);
  text-align: right;
}

.espace-fine {
  display: inline-block;
  width: 0.1em;
}

.list-right-style {
  position: absolute;
  top: 3cm;
  right: 1cm;
}

.text-barre {
  &:before {
    content: "";
    width: calc(100% - 13mm);
    top: 50%;
    transform: translate(0, -1pt);
    height: 0.3mm;
    background: black;
    position: absolute;
    display: block;
  }
}