@import "./params";

@mixin disable-page-counter {
  &:after {
    display: none;
  }
}

.page-1 {
  .title {
    margin-top: 40pt;
    text-align: center;
    margin-bottom: -1pt;
  }
  h2 {
    margin-top: 0;
    text-align: center;
  }
  .code-barre {
    width: 30mm;
    height: auto;
    transform: translate(215pt, -24pt);
  }

  @include disable-page-counter;
}

.page-2 {
  @include disable-page-counter;
}

.page-3 {
  counter-reset: page-counter 0;
  text-align: right;

  h1 {
    font-family: "Akzidenz-Grotesk-medium";
  }

  .sub-title {
    font-size: 3em;
  }

  .footer-note {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 7pt;
    box-sizing: border-box;
    padding: $document-padding;

    .icon-read {
      width: 4mm;
      vertical-align: middle;
      margin-right: 1em;
      margin-bottom: 0.3em;
    }
  }
}

.page-5,
.page-23 {

  p.main {
    columns: 2;
    padding: $document-padding;
    padding-left: 2.5cm;
    column-gap: 10mm;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.page-25,
.page-26 {
  @include disable-page-counter;
}