@import "params";

.random-protocol-container {
  .random-protocol-title {
    position: absolute;
    top: $document-padding-top;
    left: $document-padding-left;
  }

  .column-left,
  .column-right {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-top: 22.292mm;
  }

  .column-left {
    padding-left: 13.875mm;
    padding-right: 8.205mm;
  }

  .column-right {
    padding-left: 8.205mm;
    padding-right: 13.875mm;
  }

  .protocole-counter-container {
    font-size: 1em;
    width: 1em;
    height: 1em;
    display: inline-block;
    text-align: center;
    line-height: 0.3em;
    box-sizing: border-box;
    vertical-align: bottom;
    font-family: "GT-America-medium", sans-serif;
    margin-left: 0.2em;
    //font-feature-settings: "aalt" 4;
    position: relative;

    .circle {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .protocole-counter {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 6pt;
    }

  }

  .protocol-container {
    break-inside: avoid;
    position: relative;
    //overflow: hidden;

    + .protocol-container {
      margin-top: .75em;
    }

    h4 {
      margin: 0;
      font-size: 8pt;
      line-height: 1em;
    }

    p {
      font-family: "Founders Grotesk", sans-serif;
      font-weight: 300;
      font-size: 8pt;
      line-height: 8.5pt;
      margin: 0;
      padding-left: 2mm;
    }

    h4 + p {
      margin-top: 0.4em;
    }

    p+p {
      margin-top: 0.45em;
    }
  }
}