@mixin presentation {
  html {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  body {
    width: calc(21cm * 6);
    height: 100%;
    transform: scale(0.35, 0.35);
    transform-origin: top left;
  }

  [class*="page"] {
    float: left;
    background-color: white;
  }

  .blanche {
    display: none;
  }

  [class*="page"] {
    margin-bottom: 0;
  }
}


@media screen {
  body {
    background: black;
  }

  [class*="page"] {
    background-color: white;
    margin-bottom: 10px;
  }

  @include presentation;
}