@media screen {
  html {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  body {
    width: calc(21cm * 5);
    height: 100%;
    transform: scale(0.35, 0.35);
    transform-origin: top left;
    //background-color: black;
  }

  [class*="page"] {
    float: left;
    background-color: white;
    [class*="page"] {
      //border: solid 1px black;
    }
  }

  .blanche {
    display: none;
  }

}